@import 'reset';
@import 'fonts';
@import 'libs';
@import 'vars';
@import 'global';

.header {
  border-bottom: 1px solid #eaeaea;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 43px 45px 45px;
  }
  &__logoBox {
    display: flex;
    align-items: center;
  }
  &__content-title {
    margin-left: 16px;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
  }
  &__text {
    color: #9d9d9d;
    font-weight: 400;
    font-size: 14px;
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__menu-elem {
    margin: 0 15px;
    cursor: pointer;

    span {
      margin-left: 10px;
      font-size: 14px;
    }
  }
}

.cards {
  &__inner {
    margin: 45px 60px;
    padding-bottom: 45px;
  }
  &__inner-src-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
  }
  &__inner-elems {
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__image {
    margin-bottom: 24px;
  }
  &__title {
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 24px;
  }
  &__description {
    margin-bottom: 41px;
    opacity: 0.4;
  }
}

.search {
  position: relative;
  width: 250px;

  &__img {
    position: absolute;
    top: calc(50% - 14px / 2);
    left: 18px;
  }
  &__cancel {
    position: absolute;
    top: calc(50% - 24px / 2);
    right: 0;
    width: 24px;
    height: 24px;
  }
  &__input {
    width: 100%;
    padding: 14px 26px 14px 46px;
    border: 1px solid #f3f3f3;
    border-radius: 10px;

    &::placeholder {
      color: #c4c4c4;
      font-weight: 400;
      font-size: 14px;
    }
  }
}
.drawer {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-out;

  &__main {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
  }
  &__items {
    flex: 1 1 auto;
    margin-bottom: 40px;
    overflow: auto;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-out, visibility 0.1s ease-out;

  &_visible {
    visibility: visible;
    opacity: 1;

    .drawer {
      transform: translateX(0);
    }
  }
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px 10px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;

  &__img {
    width: 70px;
    height: 70px;
    margin-right: 21px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__info {
    width: 150px;
    margin-right: 12px;
  }
  &__title {
    margin-bottom: 8px;
    font-size: 14px;
  }
  &__price {
    font-weight: 700;
    font-size: 14px;

    &:hover {
      opacity: 0.8;
    }
  }
}
.card {
  position: relative;
  width: 210px;
  height: 260px;
  padding: 20px 27.5px;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }
  &__favorite {
    position: absolute;
    top: 29px;
    left: 36px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    cursor: pointer;
  }
  &__title {
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 14px;
  }
  &__bottomSide {
    display: flex;
    justify-content: space-between;
  }
  &__priceContant {
    display: flex;
    flex-direction: column;
  }
  &__priceTitle {
    color: #bdbdbd;
    font-weight: 500;
    font-size: 11px;
  }
  &__price {
    font-weight: bold;
    font-size: 14px;
  }
  &__btnToCart {
    position: absolute;
    right: 34px;
    bottom: 18px;
    width: 32px;
    height: 32px;
    color: transparent;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.greenButton {
  position: relative;
  padding: 17px 0 19px 27px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  background: #9dd558;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;

  &:hover {
    background: lighten(#9dd558, 5%);
  }
  &:active {
    background: darken(#9dd558, 5%);
  }
  &:disabled {
    background-color: #bebebe;
    cursor: default;
  }
  &--big {
    width: 100%;

    &::after {
      position: absolute;
      top: 20px;
      right: 29px;
      width: 16px;
      height: 14px;
      cursor: pointer;
      transition: transform 0.15s ease-in-out;
      content: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H14.7143' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.71436 1L14.7144 7L8.71436 13' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    &:hover {
      &::after {
        transform: translateX(5px);
      }
    }
  }
  &--small {
    width: 245px;

    &::after {
      position: absolute;
      top: 19px;
      left: 33px;
      width: 16px;
      height: 14px;
      cursor: pointer;
      transition: transform 0.15s ease-in-out;
      content: url("data:image/svg+xml,%3Csvg width='16' height='14' viewBox='0 0 16 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7144 7L1.00007 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 13L1 7L7 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    &:hover {
      &::after {
        transform: translateX(-5px);
      }
    }
  }
}

.cart-total-block {
  flex: 0 0 auto;
  width: 100%;
  ul {
    margin-bottom: 24px;
  }
  &__elem {
    display: flex;
    margin-bottom: 20px;
  }
  &__dashed {
    position: relative;
    top: 19px;
    flex: 1;
    height: 1px;
    margin: 0 7px;
    border-bottom: 1px dashed #000;
  }

  .greenButton {
    animation: button-loading 0.6s ease-in-out infinite;
  }
}

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 285px;

  &__img {
    margin-bottom: 21px;
  }
  &__title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26, 63px;
  }
  &__text {
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    opacity: 0.4;
  }
}

.btn-cancel {
  cursor: pointer;
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@import 'media';
